.modal {
  width: 100%;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  //   backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000000;
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  transition: 200ms;

  button.close {
    width: 32px;
    height: 32px;
    background-color: #fafafa;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: 200ms;
    border: solid 1px #e6e6e6;
    position: absolute;
    top: 10px;
    right: 10px;

    &:hover {
      background-color: #f2f2f2;
    }

    svg {
      width: 75%;
      height: auto;
      fill: #6bcafa;
    }
  }

  .content {
    width: fit-content;
    height: fit-content;
    background-color: white;
    padding: 8px;
    box-shadow: 0px 0px 4px #e6e6e6;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    h2 {
      font-size: 22px;
    }

    .buttons {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }
  }
}

.modal.open {
  opacity: 1;
  display: flex;

  @starting-style {
    opacity: 0;
  }
}

.modal.closing {
  opacity: 0;
}
