.form {
  width: 100%;
  height: auto;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .row {
    width: 100%;
    height: auto;
    display: flex;
    gap: 8px;

    @media screen and (width <= 768px) {
      flex-direction: column;
    }
  }
}
